
body{
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
    min-width: 900px
}

.completed{
    text-decoration: line-through;
    color: grey;
}

section.container{
    margin: 0 auto;
    width: 600px;
    border: solid 3px #00417e;
    padding: 3rem 0 1rem;
    background-color: rgb(80, 169, 252);
    border-radius: 30px;
}